@import "bootstrap/_variables";
@import "bootstrap/_mixins";

body {
  color: #696969;
  background: #efefef;
  font-family: 'Istok Web',Arial,Helvetica,sans-serif;
}
.page {
  overflow: hidden;
}
.container-fluid {
  max-width: 1170px;
}
#top-line {
  padding: 10px 0;

  .currency {
    .btn-group .btn {
      border: 0;
      background: transparent;
    }
    .btn-group.open .btn {
      box-shadow: none;
    }
    .btn,
    ul.dropdown-menu li a {
      color: #646464;
    }
  }
  .top-links {
    ul.list-inline {
      margin-top: 5px;
      li a {
        color: #696969;
      }
    }
  }
}

#header-content {
  background: #fff;
  padding:30px 0;

  #logo {
    display: block;
    margin-left: 15px;
  }
}

.navbar {
  background: #999999;
  .container-fluid {
    background:#313131 ;
  }
}

/* Reset bootstrap nav colors */
.navbar-default {
  .navbar-nav {
    > li > a {
      text-transform: uppercase;
      color: #fff;

      &:hover,
      &:focus {
        color: #fff;
        background-color: #646464;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: #fff;
        background-color: #646464;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-disabled-color;
        background-color: $navbar-default-link-disabled-bg;
      }
    }
  }
}

.form-search {
  input {
    border: 1px solid #acacac;
    box-shadow: 1px 1px 5px #acacac inset;
    width: 241px;
    border-radius: 0;
  }
  .btn {
    border-radius: 0;
    background: #2eb890;
    border: 1px solid #2eb890;
    color: #fff;
    text-transform: uppercase;
  }
}
.quick-access {
  .contact,
  .cart{
    float: right;
    img {
      margin-right: 3px;
      margin-top: 5px;
    }
    span {
      clear: both;
      /*font-size: 13px;*/
    }
    span.heading {
      font-weight: bold;
    }
  }
  .cart img {
    margin-top: -5px;
  }
}


@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

  .form-search {
    width: 40%;
  }
  .navbar-nav > li > a {
    padding:15px 10px;
  }
}
@media (max-width: $screen-xs-max) {
  #logo {
    text-align: center;
  }

  .quick-access {
    padding-top: 20px;
    .contact {
      float: left !important;
    }
  }


}
